#container {
    width: 1020px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.banner {
    animation-name: lefttoright;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
}

@keyframes lefttoright {
    0% { margin-left: 70%;}
    10% { margin-left: 63%;}
    20% { margin-left: 56%;}
    30% { margin-left: 49%;}
    40% { margin-left: 42%;}
    50% { margin-left: 35%;}
    60% { margin-left: 28%;}
    70% { margin-left: 21%;}
    80% { margin-left: 14%;}
    90% { margin-left: 7%;}
    100% { margin-left: 0%;}
}

@media screen and (max-width:480px) {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav li {
        margin-left: 180px;
    }
}
@media screen and (min-width:481px) and (max-width:800px) {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    nav li {
        margin-left: 360px;
    }
}
@media screen and (min-width:801px) {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav li {
        margin: 0 10px;
    }
}

.content {
    text-decoration: none;
    color: black;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    align-items: center;
  }
  
.header h1 {
    margin: 0;
}

.navigator {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

}

nav {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.shelf {
    height: 400px;
    overflow-y: scroll;
}


.product-row {
    display: flex;
    justify-content: space-between;
}

.product {
    flex-basis: 50%;
}

.product:hover img{
    transform: scale(1.5);
    transition: 2s;
}

.form {
    margin-left: 5%;
    margin-top: 2%;
}

.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.image-container img {
    width: 200px;
    height: 200px;
}

.image-container .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: balck;
    font-size: 18px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container.active .description {
    visibility: visible;
    opacity: 1;
}